body {
  margin: 0;
  font-family: monospace;
  background: white;
}

.outer-box {
  border: 2px solid black;
  display: inline-block;
  background-color: white;
  padding: 10px;
  margin: 20px;
}

.margin-label {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}

.box {
  margin: 20px;
  border: 15px solid blue;
  background-color: lightblue;
  padding: 50px;
  position: relative;
  width: fit-content;
}

.border-label {
  position: absolute;
  top:15px;
  left: 15px;
  font-weight: bold;
  color: black;
  background-color: ;
  padding: 2px;
}

.padding-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: teal;
}

.color-label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  color: teal;
}

.content-box {
  width: 300px;
  position: relative;
}

.text-box {
  border: 2px solid black;
  padding: 10px;
  position: relative;
}

.text-box p {
  border: 1px dashed black;
  padding: 10px;
  margin: 0;
  white-space: pre-wrap;
}

.corner {
  width: 6px;
  height: 6px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.width-label {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}